@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin letters and telegrams */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.telegram{
	font-variant: all-small-caps;
}
/* End letters and telegrams */

/* Begin burned fragment */
#chapter-13 blockquote:first-of-type{
	padding-left: 20%;
}

#chapter-13 blockquote:first-of-type > p{
	font-variant: small-caps;
	text-indent: 0;
}

/* 1st line larger font, spaced out letters */
#chapter-13 blockquote:first-of-type b{
	letter-spacing: .3em;
	text-transform: uppercase;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(2){
	padding-left: 2em;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(3){
	padding-left: 4em;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(4){
	padding-left: 6em;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(5){
	border-top-style: double;
	margin-top: 1em;
	margin-left: 8em;
	display: inline-block;
}
/* End burned fragment */


/* Begin lists */

/* ch 15 */
#chapter-15 ol{
	counter-reset: item;
	list-style: none;
}

li{
	counter-increment: item;
}

table ol li::before{
	content: "   (" counter(item, lower-alpha) ") ";
	font-style: italic;
	float: left;
}
/* ch 18 */
#chapter-18 ol{
	counter-reset: item 4;
	list-style: none;
}

ol li::before{
	content: "   (" counter(item) ") ";
	float: left;
}

ul{
	list-style: none;
	margin: 0;
}
/* End lists */

/* Begin ch 15 table */
table{
	margin: 1em auto;
}

th{
	font-weight: normal;
	font-variant: small-caps;
}

tr{
	vertical-align: top;
}

td + td{
	padding-left: 1em;
}

td,
td > p:first-child{
	text-indent: 1em;
}
/* End ch 15 table */
