@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin letters and telegrams */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.telegram{
	font-variant: all-small-caps;
}
/* End letters and telegrams */

/* Begin burned fragment */
#chapter-13 blockquote:first-of-type{
	padding-left: 20%;
}

#chapter-13 blockquote:first-of-type > p{
	font-variant: small-caps;
	text-indent: 0;
}

/* 1st line larger font, spaced out letters */
#chapter-13 blockquote:first-of-type b{
	letter-spacing: .3em;
	text-transform: uppercase;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(2){
	padding-left: 2em;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(3){
	padding-left: 4em;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(4){
	padding-left: 6em;
}

footer{
	margin-top: 1em;
	padding-left: 8em;
}

footer p{
	border-top-style: double;
	display: inline-block;
}
/* End burned fragment */


/* Begin list with parentheses and with indents */
ol{
	counter-reset: item;
	list-style: none;
}

ol > li::before{
	content: "   (" counter(item) ") ";
	counter-increment: item;
	float: left;
}
/* End list with parentheses and with indents */

/* Begin unordered list no bullets */
ul{
	list-style: none;
	margin: 0;
}
/* End unordered list no bullets */

/* Begin tables */
table{
	margin: 1em auto 1em auto;
}

td{
	padding: .5em;
}
/* End tables */
