@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin letters and telegrams */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.telegram{
	font-variant: all-small-caps;
}
/* End letters and telegrams */

/* Begin indentation for burned fragment */
/* 1st line larger font */
#chapter-13 blockquote:first-of-type p:first-of-type{
	padding-left: 3em;
	font-size: larger;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(2){
	padding-left: 4em;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(3){
	padding-left: 5em;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(4){
	padding-left: 6em;
}

#chapter-13 blockquote:first-of-type p:nth-of-type(5),
#chapter-13 blockquote:first-of-type p:nth-of-type(6){
	padding-left: 7em;
}
/* End indentation for burned fragment */

/* Begin capitalization and line spacing for burned fragment */
#chapter-13 blockquote:first-of-type{
	text-transform: uppercase;
	line-height: 1.25;
}
/* End capitalization and line spacing for burned fragment */

/* Begin list with parentheses and with indents */
ol{
	counter-reset: item;
	list-style: none;
}

ol > li::before{
	content: "   (" counter(item) ") ";
	counter-increment: item;
	float: left;
}
/* End list with parentheses and with indents */

/* Begin unordered list no bullets */
ul{
	list-style: none;
}
/* End unordered list no bullets */

/* Begin tables */
table{
	margin: 1em auto 1em auto;
}

td{
  padding: 0.5em;
}
/* End tables */
